In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [84]:
import requests

# 1. Ayarlar
api_key = "px6g2XmVXdpKzphD_ZF1PhMXGMG90n9m"  # TÄ±rnaklarÄ±n iÃ§ine yapÄ±ÅŸtÄ±r
symbol = "AAPL"  # Apple
start_date = "2024-09-20" # 90 gÃ¼n Ã¶ncesi (Tahmini)
end_date = "2024-12-20"   # DÃ¼nÃ¼n tarihi (DeÄŸiÅŸtirmeyi unutma!)

# 2. URL'i OluÅŸturuyoruz (f-string kullanarak)
url = f"https://api.massive.com/v2/aggs/ticker/{symbol}/range/1/day/{start_date}/{end_date}?apiKey={api_key}"

# 3. Ä°steÄŸi GÃ¶nder (Request)
response = requests.get(url)
data = response.json()

# 4. Sonucu GÃ¶relim
print("Durum Kodu:", response.status_code) # 200 dÃ¶nerse baÅŸarÄ±lÄ± demektir
print("Gelen Veri:", data)

Durum Kodu: 200
Gelen Veri: {'ticker': 'AAPL', 'queryCount': 65, 'resultsCount': 65, 'adjusted': True, 'results': [{'v': 318679888.0, 'vw': 228.9222, 'o': 229.97, 'c': 228.2, 'h': 233.09, 'l': 227.62, 't': 1726804800000, 'n': 971914}, {'v': 54146023.0, 'vw': 227.0245, 'o': 227.34, 'c': 226.47, 'h': 229.45, 'l': 225.81, 't': 1727064000000, 'n': 693312}, {'v': 43556068.0, 'vw': 227.2501, 'o': 228.645, 'c': 227.37, 'h': 229.35, 'l': 225.73, 't': 1727150400000, 'n': 519573}, {'v': 42308715.0, 'vw': 225.8624, 'o': 224.93, 'c': 226.37, 'h': 227.29, 'l': 224.02, 't': 1727236800000, 'n': 564630}, {'v': 36636707.0, 'vw': 227.2807, 'o': 227.3, 'c': 227.52, 'h': 228.5, 'l': 225.41, 't': 1727323200000, 'n': 433165}, {'v': 34025967.0, 'vw': 228.1278, 'o': 228.46, 'c': 227.79, 'h': 229.52, 'l': 227.3, 't': 1727409600000, 'n': 504108}, {'v': 54793391.0, 'vw': 232.0056, 'o': 230.04, 'c': 233, 'h': 233, 'l': 229.65, 't': 1727668800000, 'n': 710084}, {'v': 63285048.0, 'vw': 225.9755, 'o': 229.52, 'c': 226.21, 'h': 229.65, 'l': 223.74, 't': 1727755200000, 'n': 832120}, {'v': 32880605.0, 'vw': 226.0517, 'o': 225.89, 'c': 226.78, 'h': 227.37, 'l': 223.02, 't': 1727841600000, 'n': 504717}, {'v': 34044158.0, 'vw': 225.0086, 'o': 225.14, 'c': 225.67, 'h': 226.805, 'l': 223.32, 't': 1727928000000, 'n': 516347}, {'v': 37345098.0, 'vw': 225.8887, 'o': 227.9, 'c': 226.8, 'h': 228, 'l': 224.13, 't': 1728014400000, 'n': 558162}, {'v': 39505354.0, 'vw': 223.2342, 'o': 224.5, 'c': 221.69, 'h': 225.69, 'l': 221.33, 't': 1728273600000, 'n': 607240}, {'v': 31855693.0, 'vw': 225.0548, 'o': 224.3, 'c': 225.77, 'h': 225.98, 'l': 223.25, 't': 1728360000000, 'n': 495518}, {'v': 33591091.0, 'vw': 228.3401, 'o': 225.23, 'c': 229.54, 'h': 229.75, 'l': 224.83, 't': 1728446400000, 'n': 519279}, {'v': 28183544.0, 'vw': 228.5592, 'o': 227.78, 'c': 229.04, 'h': 229.5, 'l': 227.17, 't': 1728532800000, 'n': 446857}, {'v': 31759188.0, 'vw': 228.0176, 'o': 229.3, 'c': 227.55, 'h': 229.41, 'l': 227.34, 't': 1728619200000, 'n': 485460}, {'v': 39882085.0, 'vw': 230.7772, 'o': 228.7, 'c': 231.3, 'h': 231.73, 'l': 228.6, 't': 1728878400000, 'n': 580529}, {'v': 64751367.0, 'vw': 234.795, 'o': 233.61, 'c': 233.85, 'h': 237.49, 'l': 232.37, 't': 1728964800000, 'n': 827530}, {'v': 34082240.0, 'vw': 231.1082, 'o': 231.6, 'c': 231.78, 'h': 232.12, 'l': 229.84, 't': 1729051200000, 'n': 551097}, {'v': 32993810.0, 'vw': 232.0786, 'o': 233.43, 'c': 232.15, 'h': 233.85, 'l': 230.52, 't': 1729137600000, 'n': 487630}, {'v': 46431472.0, 'vw': 235.2088, 'o': 236.18, 'c': 235, 'h': 236.18, 'l': 234.01, 't': 1729224000000, 'n': 562502}, {'v': 36254470.0, 'vw': 235.9588, 'o': 234.45, 'c': 236.48, 'h': 236.85, 'l': 234.45, 't': 1729483200000, 'n': 538692}, {'v': 38846578.0, 'vw': 234.9316, 'o': 233.885, 'c': 235.86, 'h': 236.22, 'l': 232.6, 't': 1729569600000, 'n': 489180}, {'v': 52286979.0, 'vw': 231.1276, 'o': 234.08, 'c': 230.76, 'h': 235.144, 'l': 227.76, 't': 1729656000000, 'n': 722059}, {'v': 31109503.0, 'vw': 230.1026, 'o': 229.98, 'c': 230.57, 'h': 230.82, 'l': 228.41, 't': 1729742400000, 'n': 490815}, {'v': 38802304.0, 'vw': 231.6641, 'o': 229.74, 'c': 231.41, 'h': 233.22, 'l': 229.57, 't': 1729828800000, 'n': 551681}, {'v': 36087134.0, 'vw': 233.5569, 'o': 233.32, 'c': 233.4, 'h': 234.73, 'l': 232.55, 't': 1730088000000, 'n': 557146}, {'v': 35417247.0, 'vw': 233.5948, 'o': 233.1, 'c': 233.67, 'h': 234.325, 'l': 232.32, 't': 1730174400000, 'n': 484094}, {'v': 47070907.0, 'vw': 230.8805, 'o': 232.61, 'c': 230.1, 'h': 233.47, 'l': 229.55, 't': 1730260800000, 'n': 593652}, {'v': 64370086.0, 'vw': 226.6453, 'o': 229.34, 'c': 225.91, 'h': 229.83, 'l': 225.37, 't': 1730347200000, 'n': 767895}, {'v': 65276741.0, 'vw': 222.8124, 'o': 220.965, 'c': 222.91, 'h': 225.35, 'l': 220.27, 't': 1730433600000, 'n': 859117}, {'v': 44944468.0, 'vw': 221.7645, 'o': 220.99, 'c': 222.01, 'h': 222.79, 'l': 219.71, 't': 1730696400000, 'n': 647168}, {'v': 28111338.0, 'vw': 223.1048, 'o': 221.795, 'c': 223.45, 'h': 223.95, 'l': 221.14, 't': 1730782800000, 'n': 502059}, {'v': 54561121.0, 'vw': 223.8013, 'o': 222.61, 'c': 222.72, 'h': 226.065, 'l': 221.19, 't': 1730869200000, 'n': 796635}, {'v': 42137691.0, 'vw': 226.791, 'o': 224.625, 'c': 227.48, 'h': 227.875, 'l': 224.57, 't': 1730955600000, 'n': 623242}, {'v': 38328824.0, 'vw': 227.2124, 'o': 227.17, 'c': 226.96, 'h': 228.66, 'l': 226.405, 't': 1731042000000, 'n': 541125}, {'v': 42005602.0, 'vw': 223.4599, 'o': 225, 'c': 224.23, 'h': 225.7, 'l': 221.5, 't': 1731301200000, 'n': 555127}, {'v': 40398299.0, 'vw': 224.3724, 'o': 224.55, 'c': 224.23, 'h': 225.59, 'l': 223.355, 't': 1731387600000, 'n': 462612}, {'v': 48566217.0, 'vw': 224.9226, 'o': 224.01, 'c': 225.12, 'h': 226.65, 'l': 222.76, 't': 1731474000000, 'n': 467219}, {'v': 44923941.0, 'vw': 227.4472, 'o': 225.02, 'c': 228.22, 'h': 228.87, 'l': 225, 't': 1731560400000, 'n': 492068}, {'v': 47923696.0, 'vw': 225.0925, 'o': 226.4, 'c': 225, 'h': 226.92, 'l': 224.27, 't': 1731646800000, 'n': 451319}, {'v': 44686020.0, 'vw': 228.083, 'o': 225.25, 'c': 228.02, 'h': 229.74, 'l': 225.17, 't': 1731906000000, 'n': 437779}, {'v': 36211774.0, 'vw': 228.6648, 'o': 226.98, 'c': 228.28, 'h': 230.16, 'l': 226.66, 't': 1731992400000, 'n': 365242}, {'v': 35169566.0, 'vw': 228.08, 'o': 228.06, 'c': 229, 'h': 229.93, 'l': 225.89, 't': 1732078800000, 'n': 358455}, {'v': 42108327.0, 'vw': 228.4689, 'o': 228.88, 'c': 228.52, 'h': 230.155, 'l': 225.7103, 't': 1732165200000, 'n': 431685}, {'v': 38168252.0, 'vw': 229.6877, 'o': 228.06, 'c': 229.87, 'h': 230.7199, 'l': 228.06, 't': 1732251600000, 'n': 380624}, {'v': 90152832.0, 'vw': 232.3502, 'o': 231.46, 'c': 232.87, 'h': 233.245, 'l': 229.74, 't': 1732510800000, 'n': 510698}, {'v': 45986189.0, 'vw': 234.7502, 'o': 233.33, 'c': 235.06, 'h': 235.57, 'l': 233.33, 't': 1732597200000, 'n': 450015}, {'v': 33498439.0, 'vw': 234.7968, 'o': 234.465, 'c': 234.93, 'h': 235.69, 'l': 233.8101, 't': 1732683600000, 'n': 339860}, {'v': 28481377.0, 'vw': 236.6232, 'o': 234.805, 'c': 237.33, 'h': 237.81, 'l': 233.97, 't': 1732856400000, 'n': 268955}, {'v': 48137103.0, 'vw': 239.4992, 'o': 237.27, 'c': 239.59, 'h': 240.79, 'l': 237.16, 't': 1733115600000, 'n': 469685}, {'v': 38861017.0, 'vw': 241.644, 'o': 239.81, 'c': 242.65, 'h': 242.76, 'l': 238.9, 't': 1733202000000, 'n': 419384}, {'v': 44383935.0, 'vw': 242.918, 'o': 242.87, 'c': 243.01, 'h': 244.11, 'l': 241.25, 't': 1733288400000, 'n': 406663}, {'v': 40033878.0, 'vw': 243.0077, 'o': 243.99, 'c': 243.04, 'h': 244.54, 'l': 242.13, 't': 1733374800000, 'n': 401262}, {'v': 36870619.0, 'vw': 243.187, 'o': 242.905, 'c': 242.84, 'h': 244.63, 'l': 242.08, 't': 1733461200000, 'n': 366549}, {'v': 44649232.0, 'vw': 246.0624, 'o': 241.83, 'c': 246.75, 'h': 247.24, 'l': 241.75, 't': 1733720400000, 'n': 500769}, {'v': 36914806.0, 'vw': 247.2778, 'o': 246.89, 'c': 247.77, 'h': 248.21, 'l': 245.34, 't': 1733806800000, 'n': 423350}, {'v': 45205814.0, 'vw': 248.069, 'o': 247.96, 'c': 246.49, 'h': 250.8, 'l': 246.2601, 't': 1733893200000, 'n': 455625}, {'v': 32777532.0, 'vw': 247.7433, 'o': 246.89, 'c': 247.96, 'h': 248.74, 'l': 245.68, 't': 1733979600000, 'n': 353012}, {'v': 33155290.0, 'vw': 247.7583, 'o': 247.815, 'c': 248.13, 'h': 249.2902, 'l': 246.24, 't': 1734066000000, 'n': 349810}, {'v': 51694753.0, 'vw': 250.4623, 'o': 247.99, 'c': 251.04, 'h': 251.38, 'l': 247.65, 't': 1734325200000, 'n': 448224}, {'v': 51356360.0, 'vw': 252.982, 'o': 250.08, 'c': 253.48, 'h': 253.83, 'l': 249.78, 't': 1734411600000, 'n': 487662}, {'v': 56774101.0, 'vw': 250.5314, 'o': 252.16, 'c': 248.05, 'h': 254.28, 'l': 247.74, 't': 1734498000000, 'n': 564347}, {'v': 60882264.0, 'vw': 249.8394, 'o': 247.5, 'c': 249.79, 'h': 252, 'l': 247.0949, 't': 1734584400000, 'n': 532896}, {'v': 147495267.0, 'vw': 253.1916, 'o': 248.04, 'c': 254.49, 'h': 255, 'l': 245.69, 't': 1734670800000, 'n': 551019}], 'status': 'OK', 'request_id': '6835cb7ab0d17fd2df2be81e5ab87d4d', 'count': 65}

In [85]:
apple_df = pd.DataFrame(data['results'])
apple_df.head()

,v,vw,o,c,h,l,t,n
0,318679888.0,228.9222,229.970,228.20,233.09,227.62,1726804800000,971914
1,54146023.0,227.0245,227.340,226.47,229.45,225.81,1727064000000,693312
2,43556068.0,227.2501,228.645,227.37,229.35,225.73,1727150400000,519573
3,42308715.0,225.8624,224.930,226.37,227.29,224.02,1727236800000,564630
4,36636707.0,227.2807,227.300,227.52,228.50,225.41,1727323200000,433165

In [86]:
apple_df['date'] = pd.to_datetime(apple_df['t'], unit='ms')
apple_df.head()

,v,vw,o,c,h,l,t,n,date
0,318679888.0,228.9222,229.970,228.20,233.09,227.62,1726804800000,971914,2024-09-20 04:00:00
1,54146023.0,227.0245,227.340,226.47,229.45,225.81,1727064000000,693312,2024-09-23 04:00:00
2,43556068.0,227.2501,228.645,227.37,229.35,225.73,1727150400000,519573,2024-09-24 04:00:00
3,42308715.0,225.8624,224.930,226.37,227.29,224.02,1727236800000,564630,2024-09-25 04:00:00
4,36636707.0,227.2807,227.300,227.52,228.50,225.41,1727323200000,433165,2024-09-26 04:00:00

In [87]:
apple_df = apple_df.set_index('date')

In [88]:
apple_df = apple_df.rename(columns={
    'o': 'open',
    'c': 'close',
    'h': 'high',
    'l': 'low'
})

In [89]:
apple_df.head()

,v,vw,open,close,high,low,t,n
date,,,,,,,,
2024-09-20 04:00:00,318679888.0,228.9222,229.970,228.20,233.09,227.62,1726804800000,971914
2024-09-23 04:00:00,54146023.0,227.0245,227.340,226.47,229.45,225.81,1727064000000,693312
2024-09-24 04:00:00,43556068.0,227.2501,228.645,227.37,229.35,225.73,1727150400000,519573
2024-09-25 04:00:00,42308715.0,225.8624,224.930,226.37,227.29,224.02,1727236800000,564630
2024-09-26 04:00:00,36636707.0,227.2807,227.300,227.52,228.50,225.41,1727323200000,433165

In [90]:
apple_df = apple_df[['open', 'close', 'high', 'low']]

In [91]:
print(apple_df.index) 
apple_df.head()

DatetimeIndex(['2024-09-20 04:00:00', '2024-09-23 04:00:00',
               '2024-09-24 04:00:00', '2024-09-25 04:00:00',
               '2024-09-26 04:00:00', '2024-09-27 04:00:00',
               '2024-09-30 04:00:00', '2024-10-01 04:00:00',
               '2024-10-02 04:00:00', '2024-10-03 04:00:00',
               '2024-10-04 04:00:00', '2024-10-07 04:00:00',
               '2024-10-08 04:00:00', '2024-10-09 04:00:00',
               '2024-10-10 04:00:00', '2024-10-11 04:00:00',
               '2024-10-14 04:00:00', '2024-10-15 04:00:00',
               '2024-10-16 04:00:00', '2024-10-17 04:00:00',
               '2024-10-18 04:00:00', '2024-10-21 04:00:00',
               '2024-10-22 04:00:00', '2024-10-23 04:00:00',
               '2024-10-24 04:00:00', '2024-10-25 04:00:00',
               '2024-10-28 04:00:00', '2024-10-29 04:00:00',
               '2024-10-30 04:00:00', '2024-10-31 04:00:00',
               '2024-11-01 04:00:00', '2024-11-04 05:00:00',
               '2024-11-05 05:00:00', '2024-11-06 05:00:00',
               '2024-11-07 05:00:00', '2024-11-08 05:00:00',
               '2024-11-11 05:00:00', '2024-11-12 05:00:00',
               '2024-11-13 05:00:00', '2024-11-14 05:00:00',
               '2024-11-15 05:00:00', '2024-11-18 05:00:00',
               '2024-11-19 05:00:00', '2024-11-20 05:00:00',
               '2024-11-21 05:00:00', '2024-11-22 05:00:00',
               '2024-11-25 05:00:00', '2024-11-26 05:00:00',
               '2024-11-27 05:00:00', '2024-11-29 05:00:00',
               '2024-12-02 05:00:00', '2024-12-03 05:00:00',
               '2024-12-04 05:00:00', '2024-12-05 05:00:00',
               '2024-12-06 05:00:00', '2024-12-09 05:00:00',
               '2024-12-10 05:00:00', '2024-12-11 05:00:00',
               '2024-12-12 05:00:00', '2024-12-13 05:00:00',
               '2024-12-16 05:00:00', '2024-12-17 05:00:00',
               '2024-12-18 05:00:00', '2024-12-19 05:00:00',
               '2024-12-20 05:00:00'],
              dtype='datetime64[ns]', name='date', freq=None)

                        open   close    high     low
date
2024-09-20 04:00:00  229.970  228.20  233.09  227.62
2024-09-23 04:00:00  227.340  226.47  229.45  225.81
2024-09-24 04:00:00  228.645  227.37  229.35  225.73
2024-09-25 04:00:00  224.930  226.37  227.29  224.02
2024-09-26 04:00:00  227.300  227.52  228.50  225.41

In [92]:
from nbresult import ChallengeResult

result = ChallengeResult('apple',
    index_name=apple_df.index.name,
    index_type=apple_df.index.dtype,
    columns=apple_df.columns
)
result.write()
print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /Users/berkayturhan/.pyenv/versions/workintech/bin/python
cachedir: .pytest_cache
rootdir: /Users/berkayturhan/data-stock-market/tests
plugins: anyio-4.8.0, typeguard-4.4.2
collecting ... collected 3 items

test_apple.py::TestApple::test_apple_df_columns PASSED                   [ 33%]
test_apple.py::TestApple::test_apple_df_index_is_timestamp PASSED        [ 66%]
test_apple.py::TestApple::test_apple_df_index_name_is_date PASSED        [100%]

============================== 3 passed in 0.55s ===============================


ðŸ’¯ You can commit your code:

git add tests/apple.pickle

git commit -m 'Completed apple step'

git push origin master